@media (max-width: 800px) {
  #container {
    margin-top: 0.2rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  input {
    max-width: 10rem;
    height: 2rem;
    font-size: 1rem;
    margin-left: 0.3rem;
  }
  .items {
    font-size: 1rem;
  }
  button {
    padding: 0.3rem 1.8rem;
    border-radius: 1.2rem;
    margin-right: 0.6rem;
    font-size: 1rem;
  }
}
